<a href="https://colab.research.google.com/github/WildOsama2020/Stepik_Python/blob/master/Python_Notebook_02.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
a = 5
while a >= 0:
  print(a, end= ' ')
  a -= 1

5:4:3:2:1:0:

In [ ]:
i = 0
j = 0
while i <= 10:
  j +=1
  i += 1
  if i > 7:
    i += 2
print(i, end=":")
print(j)

13:9

In [ ]:
n = int(input())
c = 1
while c <= n:
  print('*' * c)
  c +=1

10
*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
n = int(input())
stars = '*'
while len(stars) <= n:
  print(stars)
  stars += '*'

10
*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
n = int(input())
sum = 0
while n != 0:
  sum +=n
  n = int(input())
print(sum)

5
-3
8
4
0
14

In [ ]:
a = int(input())
b = int(input())
d = a * b
while a != 0 and b != 0:
    if a > b:
        a = a % b
        #print(a)
    else:
        b = b % a
        #print(b)
print(int(d / (a + b)))

15
20
60

In [ ]:
a = int(input())
b = int(input())
if a < b:
    a, b = b, a
if a % b != 0:
    a *= b
print(a)

4
8
8

In [ ]:
a, b = input().split()
print(a, b)

a b
a b

In [ ]:
i = 0
while i < 5:
  a, b = input().split()
  a = int(a)
  b = int(b)
  if (a == 0) and (b == 0):
    break # досрочное завершаем цикл
  print(a * b)
  i += 1

0 0

In [ ]:
i = 0
while i < 5:
  a, b = input().split()
  a = int(a)
  b = int(b)
  if (a == 0) and (b == 0):
    break
  if (a == 0) or (b == 0):
    continue
  print(a * b)
  i += 1

3 4
12
1 6
6
0 7
3 2
6
0 0

In [ ]:
i = 0
s = 0
while i < 10:
  i = i + 1
  s = s + i
  if s > 15:
    break
  i = i + 1

print(i)

7

In [ ]:
a = True
while a:
  b = int(input())
  if b < 10:
    continue
  if b > 100:
    break
  print(b)

13
13
16
16
9
100
100
10
10
101

In [ ]:
for i in 2, 3, 5:
  print(i * i)

4
9
25

In [ ]:
for i in range(10):
  print(i * i)

0
1
4
9
16
25
36
49
64
81

In [ ]:
n = int(input())
print((n * '* ' +'\n') * n)

5
* * * * *
* * * * *
* * * * *
* * * * *
* * * * *

In [ ]:
n = int(input())
for i in range(n):
  print('*' * n)

6
******
******
******
******
******
******

In [ ]:
n = int(input())
for i in range(n):
  for j in range(n):
    print('*', end='')
  print()

6
******
******
******
******
******
******

In [ ]:
a, b, c, d = int(input()), int(input()), int(input()), int(input())
print('', end='\t')
for i in range(c, d + 1):
  print(i, end='\t')
print()
for i in range(a, b + 1):
  print(i, end='\t')
  for j in range(c, d + 1):
    print(i * j, end='\t', )
  print()

1
3
2
4
	2	3	4
1	2	3	4
2	4	6	8
3	6	9	12

In [ ]:
a, b, c, d = (int(input()) for x in range(4))
print('', *range(c,d+1), sep='\t')
for x in range(a, b+1):
    print(x, *[y*x for y in range(c, d+1)], sep='\t')

1
4
2
5
	2	3	4	5
1	2	3	4	5
2	4	6	8	10
3	6	9	12	15
4	8	12	16	20

In [ ]:
a, b = (int(i) for i in input().split())
s = 0
if a % 2 == 0:
  a += 1
for i in range(a, b + 1, 2):
  s += i
print(s)

2 9
24

In [ ]:
a, b = (int(i) for i in input().split())
s = 0
n = 0
for i in range(a ,b + 1):
  if i % 3 == 0:
    n += 1
    s += i
print(s / n)

-5 12
4.5

In [ ]:
a = '12345'
print(int(a[1]))

2

In [ ]:
genome = input()
cnt = 0
for nucl in genome:
  if nucl == 'C':
    cnt += 1
print(cnt)

ACCTA
2

In [ ]:
genome = input()
print(genome.count('C'))

ACCTA
2

In [ ]:
genome = str(input())
print((genome.upper().count('C') + genome.upper().count('G')) * 100 / len(genome))

acggtgttat
40.0

In [ ]:
dna = 'ATTCGGAGCT'
print(dna[1])
print(dna[1:4])
print(dna[:4])
print(dna[4:])
print(dna[-4:])
print(dna[1:-1])
print(dna[1:-1:2])
print(dna[::-1])

T
TTC
ATTC
GGAGCT
AGCT
TTCGGAGC
TCGG
TCGAGGCTTA

In [ ]:
s = 'abcdefghijk'
print(s[-3:])

ijk

In [ ]:
s = input()
r = s[::-1]
if s == r:
  print('YES')
else:
  print('NO')

affjffa
YES

In [ ]:
s = input()
s1 = str()
cnt = 0
cnt1 = 0
x = s[0]
for i in s:
    cnt1 += 1
    if x == i:
        cnt += 1
    else:
        s1 += x + str(cnt)
        x = i
        cnt = 1
    if cnt1 == len(s):
        s1 += x + str(cnt)
print(s1)

abc
a1b1c1

In [ ]:
genome = input()+' '
s = 0
n=genome[0]
for i in genome:       
    if n!=i:
        print(n + str(s), end = '')
        s=0
        n=i
    s+=1

abc
a1b1c1

Напишите программу, которая считывает с консоли числа (по одному в строке) до тех пор, пока сумма введённых чисел не будет равна 0 и сразу после этого выводит сумму квадратов всех считанных чисел.

Гарантируется, что в какой-то момент сумма введённых чисел окажется равной 0, после этого считывание продолжать не нужно.

В примере мы считываем числа 1, -3, 5, -6, -10, 13; в этот момент замечаем, что сумма этих чисел равна нулю и выводим сумму их квадратов, не обращая внимания на то, что остались ещё не прочитанные значения.﻿

In [ ]:
sum = 0
sumq = 0
flag = True
while flag:
  a = int(input())
  sum += a
  sumq += a * a
  if sum == 0:
    flag = False
print(sumq)

1
-3
5
-6
-10
13
340

Напишите программу, которая выводит часть последовательности 1 2 2 3 3 3 4 4 4 4 5 5 5 5 5 ... (число повторяется столько раз, чему равно). На вход программе передаётся неотрицательное целое число n — столько элементов последовательности должна отобразить программа. На выходе ожидается последовательность чисел, записанных через пробел в одну строку. 

Например, если n = 7, то программа должна вывести 1 2 2 3 3 3 4.

In [ ]:
n = int(input())
k = 0
flag = False
for i in range(1, n + 1):
  if flag:
    break
  for j in range(1, i + 1):
    print(i, end='')
    k += 1
    if k == n:
      flag = True
      break

0

In [ ]:
n = int(input())
s = [x for x in range(1, n +1) for y in range(1, x + 1)]
for i in range(n):
    print(s[i], end=' ')

0

In [ ]:
n = int(input())
list = []
for i in range(n + 1):
  for j in range(i):
    list.append(i)
# print(*[list[i] for i in range(n)])
print(*[list[i] for i in range(n)])

7
1 2 2 3 3 3 4

Напишите программу, которая считывает список чисел lstlst из первой строки и число xx из второй строки, которая выводит все позиции, на которых встречается число xx в переданном списке lstlst.

Позиции нумеруются с нуля, если число xx не встречается в списке, вывести строку "Отсутствует" (без кавычек, с большой буквы).

Позиции должны быть выведены в одну строку, по возрастанию абсолютного значения

In [12]:
lstlst = [int(x) for x in input().split()]
xx = int(input())
for i, x in enumerate(lstlst):
    if xx == lstlst[i]:
        print(i, end=' ')
if xx not in lstlst:
    print('Отсутствует')

5 8 2 7 8 8 2 4
8
1 4 5

In [ ]:
numbers = [int(i) for i in input().split()]
needed = int(input())
if needed not in numbers:
    print("Отсутствует")
else:
    [print(i, end=" ") for i, x in enumerate(numbers) if x == needed]

Напишите программу, на вход которой подаётся прямоугольная матрица в виде последовательности строк, заканчивающихся строкой, содержащей только строку "end" (без кавычек)

Программа должна вывести матрицу того же размера, у которой каждый элемент в позиции i, j равен сумме элементов первой матрицы на позициях (i-1, j), (i+1, j), (i, j-1), (i, j+1). У крайних символов соседний элемент находится с противоположной стороны матрицы.

В случае одной строки/столбца элемент сам себе является соседом по соответствующему направлению.

In [40]:
s = []
#sout = []
while True:
    n = str(input())
    if n == 'end':
        break
    s += [[int(i) for i in n.split()]]
sout = [[0 for j in range(len(s[0]))] for i in range(len(s))]
for i in range(len(s)):
    for j in range(len(s[0])):
        a1 = i -1
        a2 = i + 1
        b1 = j - 1
        b2 = j + 1
        if i == 0:
            a1 = len(s) - 1
        if i == len(s) - 1:
            a2 = 0
        if j == 0:
            b1 = len(s[0]) - 1
        if j == len(s[0]) - 1:
            b2 = 0
        sout[i][j] = s[i][b1] + s[i][b2] + s[a1][j] + s[a2][j]
        print(sout[i][j], end=' ')
    print()
print(*[sout[i][j] for i in range(len(sout)) for j in range(len(sout[0]))])

3 4
3 5
end
14 16
16 14
14 16 16 14

In [ ]:
|c = []
while True:
    a = [i for i in input().split()]
    if a == ['end']:
        break
    c.append(a)
n, m = len(c), len(c[0])
for i in range(n):
    for j in range(m):
        x = int(c[i][j-1]) + int(c[i][j+1-m]) + int(c[i-1][j]) + int(c[i+1-n][j])
        print(x, end=' ')
    print()

Выведите таблицу размером n x n, заполненную числами от 1 до n*n 
  по спирали, выходящей из левого верхнего угла и закрученной по часовой стрелке, как показано в примере (здесь n=5):

In [59]:
n = int(input())
s = [[0 for i in range(n)] for j in range(n)]
x = 0
y = 0
for i in range(n * n):
    s[y][x] = i + 1
    if x + 1 < n and s[y][x + 1] == 0 and not (0 <= y - 1 and s[y - 1][x] == 0):
            dx = 1
            dy = 0
    else:
        if  y + 1 < n and s[y + 1][x] == 0:
            dy = 1
            dx = 0
        else:    
            if 0 <= x - 1 and s[y][x - 1] == 0:
                dx = -1
                dy = 0
            else:    
                if 0 <= y - 1 and s[y - 1][x] == 0:
                    dy = -1
                    dx = 0
    x += dx
    y += dy
for i in s:
    #for j in range(n):
        #print(s[i][j], end=' ')
    print(*i)
#print(s)

5
1 2 3 4 5
16 17 18 19 6
15 24 25 20 7
14 23 22 21 8
13 12 11 10 9

In [58]:
n = int(input())
x,y,dx,dy, m = 0,0,0,1, [[0]*n for i in range(n)]
for i in range(n*n):
  m[x][y]=str(i+1)
  if x+dx>=n or x+dx<0 or y+dy>=n or y+dy<0 or m[x+dx][y+dy]:
      dx,dy = dy,-dx
  x,y = x+dx, y+dy
print("\n".join([" ".join(i) for i in m]))

5
1 2 3 4 5
16 17 18 19 6
15 24 25 20 7
14 23 22 21 8
13 12 11 10 9